    *{
    box-sizing: border-box;
}

body{
    margin: 0px;
    width: 100%;
    height: 0px;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0px;
}

.about{
    margin: 3% ;
   height: 60%;
    width: 80%;
    position: relative;
    left: 10%;
    font-family: 'Cabin', arial, sans-serif;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.about .name{
    font-weight: 100;
    font-size: 20px;
    margin-bottom: 15px;
}

.context{
    margin: 0 auto;
    width: 70%;
    height: 100%;
    text-align: justify;
}

.context p,.context ul li{
    color: #404040;
    font-size: 15px;
    text-align: justify;
    
}

.context .sp1{
    color: orangered;
}

.context h3{
    color: darkslategray;
    font-size: 15px;
    letter-spacing: 0.1px;
    word-spacing: .2px;
}